<div class="session5">
      <div class="iconoW">
         <i class="material-icons iconoLogo">computer</i><br>
          <a href="#"><span>Wormhole</span> </a>
      </div>
      <div class="plataformas">
        <div class="desktop">
          <div class="tituloDesk">
            <h2>Desktop</h2>
            <div class="otherB">
              <a href="#">Feature List</a> |
              <a href="#">Realease Note</a>
            </div>
            
          </div>
          <div class="plataformBTNS">
            <button><i class="fab fa-windows"></i> Windows</button>
            <button><i class="fab fa-apple"></i> Mac</button>
            <button><i class="fab fa-linux"> Linux</i></button>
          </div>
        </div>
        <div class="mobile">
          <div class="tituloMobile">
            <h2>Mobile</h2>
          </div>
          <div class="btnPlsText">
            <div class="buttoms"> 
               <button><i class="fab fa-android"></i> Android</button>
            </div>
              
            <div class="parrafo">
               <p>*
For Android, desktop and mobile app is both needed, iOS only needs desktop app.</p>
            </div>
             
          </div>
          
        </div>
      </div>
    </div>
    