
    <div class="sessionInfo">
      <div class="information">
        <div class="titulo">
        <h1>Edge is </h1>
        <h1>gone</h1>
        <h1>Less is</h1>
        <h1>more</h1>
      </div>
      <div class="intro">
        <h5>Click, type, shopping ...</h5>
        
        <br>
        <h5> Never switch 100 times again</h5>
       
      </div>
      </div>
      
      <div class="video2">
        <video poster="https://cdn.octopusgame.com/gsjy/img/er/index/video_cover_two.jpg?id=501e3014cbf225870908" autoplay="autoplay" muted="" loop="" playsinline="" webkit-playsinline="" x5-video-player-type="h5-page">
                <source src="https://files.octopusgame.com/video/er_edge_3.mp4" type="video/mp4">
            </video>
      </div>
      
    </div>