  <div class="session4">
      <div class="titulo">
        <h1>Concurrent Spacetime</h1><br>
        <p>Connect multiple phones simultaneously.<br>
Support iOS and Android.</p>
      </div>
      <div class="imagenes"> 
        
        <div class="right">
          <img  src="https://cdn.octopusgame.com/gsjy/img/er/index/spacetime_left.png?id=c13034a9638acc5fcb6d">
        </div>
        
        <div class="left">
          <img  src="https://cdn.octopusgame.com/gsjy/img/er/index/spacetime_right.png?id=e518a30ca72027b757a4">
        </div>
        
      </div>
    </div>