 <div class="header_Main">
      <div class="sessionDownload">
        <div class="titulo">
          <h1>Bridge between</h1>
          <h1>Desktop & Mobile</h1>
        </div>
        
        <div class="intro">
          <h5>Browse & Control phone on PC, Screen Fusion for iOS & Android</h5>
        </div>
        
        <div class="BTNs">
          <button class="btnDownload"> <i class="fas fa-download"></i> Download</button>
          <div class="otherBTN">
            <a href="#">Release Notes</a> |
            <a href="#">Feature List</a>
          </div>
          
        </div>
        
      </div>
      <div class="videoMovimiento">
        <video  poster="https://cdn.octopusgame.com/gsjy/img/er/index/video_cover_one_en.jpg?id=a6f7a87a0567ac4b149e" autoplay="autoplay" muted="" loop="" playsinline="" webkit-playsinline="" x5-video-player-type="h5-page" x5-video-player-fullscreen="false">
                    <source src="https://files.octopusgame.com/video/er_video_one_en.mp4" type="video/mp4">
                </video>
      </div>
    </div>