<div class="operationMain">
      <div class="titulo">
        <h1>Advanced features for every aspect</h1>
      </div>
      <div class="operacion">
        <div class="op">
          <div class="circleIcons"><i class="fas fa-file-medical-alt"></i></div>
          <h5>File Transfer</h5>
        </div>
         <div class="op">
          <div class="circleIcons"><i class="fas fa-headphones-alt"></i></div>
          <h5>Clipboard Sharer</h5>
        </div>
         <div class="op">
          <div class="circleIcons"><i class="fas fa-keyboard"></i></div>
          <h5>Gaming Keymapping <br> Android only</h5>
          
        </div>
        
      </div>
      <div class="pcs">
        <div class="video3">
          <video poster="https://cdn.octopusgame.com/gsjy/img/er/index/video_cover_three_v4.jpg?id=e871f8c78e38362af8c8" autoplay="" muted="" loop="" playsinline="" webkit-playsinline="" x5-video-player-type="h5-page">
                    <source src="https://files.octopusgame.com/video/er_video_three_v4.mp4" type="video/mp4">
                </video>
        </div>
        <div class="video4">
          <video  poster="https://cdn.octopusgame.com/gsjy/img/er/index/video_cover_four.jpg?id=b1af7b122e3cd745caa8" autoplay="" muted="" loop="" playsinline="" webkit-playsinline="" x5-video-player-type="h5-page">
                    <source src="https://files.octopusgame.com/video/er_video_four_v2.mp4" type="video/mp4">
                </video>
        </div>
      </div>
    </div>